{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
	<link rel="stylesheet" href='{% static "css/bootstrap.min.css" %}'>
	<link rel="stylesheet" href='{% static "css/base.css" %}'>
	<meta charset="UTF-8">
	<title>Document</title>
</head>
<body>
	{% include "messages_display.html" %}
	<div class="container">
		{% block content %}

		{% endblock content %}
	</div>

	
</body>
</html>