{%extends "base.html" %}
  
  {% block content %}

  <div class="col-sm-6 col-sm-offset-3">
  
<h1>{{ title }}</h1>
	{% for obj in obj_list %}
	<div class="row">
		<div class="col-sm-12">
			<div class="thumbnail">
				<div class="caption">
					{% if obj.image %}
					<img src ="{{ obj.image.url }}" class="img-responsive img-thumbnail"/> 
					{% endif %}
		  <h3><a href='{{obj.get_absolute_url}}'>{{obj.title}}</a></h3>
	 <p>{{obj.content|linebreaks|truncatechars:120}}</p>
	 <p><small>{{ obj.timestamp|timesince }} ago</small></p>
	  <p><a href='{{obj.get_absolute_url}}' class="btn btn-primary" role="button">View</a></p>
	</div>
	</div>
	</div>
</div>
{%endfor%}
<div class="pagination">
    <span class="step-links">
        {% if obj_list.has_previous %}
            <a href="?page={{ obj_list.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ obj_list.number }} of {{ obj_list.paginator.num_pages }}.
        </span>

        {% if obj_list.has_next %}
            <a href="?page={{ obj_list.next_page_number }}">next</a>
        {% endif %}
    </span>
</div>
  </div>
{% endblock %}