
	{% extends "base.html" %}
	{% block content %}
	<div class="container">
		<div class="row">
			<div class="col-md-6 col-md-offset-2">
				<form action="" enctype='multipart/form-data' method="POST"> {% csrf_token %}
		{{ form.as_p }}
        <input type="submit" value="Create Post" class="btn btn-block btn-danger"/>
	</form>
			</div>
		</div>
	</div>
	{% endblock %}
