{% extends 'base.html' %}

{% block content %}
	{% if messages %}
	<ul class="messages">
		{% for message in messages %}
		<li{% if message.tags %} class="{{message.tags}}"{% endif %}>{{ message }}</a>
		{% endfor %}
	</ul>
	{% endif %}
    <div class="row">
    	<div class="col-md-6 col-md-offset-3">
    		{% if instance.image %}
    		<img src ="{{ instance.image.url }}" class="img-responsive"/> 
    		{% endif %}
	<h1>{{ title }}</h1>
	 
	 {{instance.title}}<br>
	 {{instance.content}}<br>
	 {{instance.updated}}<br>
	 {{instance.timestamp}}<br>
	 {{instance.id}}<br>
    	</div>	
    </div>
{% endblock %}